<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/common :: html-head"></th:block>
<th:block th:replace="fragment/common :: header"></th:block>
<body>
<main>
    <section>
        <form class="m-l" role="form" th:action="@{/auth/loginForm}" enctype="application/json"
               id="loginForm" method="post">
            <header>
                <h2>Login Page</h2>
            </header>
            <label for="userName">아이디 : </label>
            <div class="form-group">
                <input type="text"  name="userName" id="userName"
                       class="form-control" placeholder="userName" required="required"/>
            </div>
            <label for="password">비밀번호 : </label>
            <div class="form-group">
                <input type="password" name="password" id="password"
                       class="form-control" placeholder="Password" required="required"/>
            </div>
            <button type="submit" class=>Login</button>
            <button type="button" class="btn btn-primary" onclick="history.go(-1)">redirect</button>
        </form>
    </section>



<!--    <script>-->
<!--document.cookie = "how=dude";-->
<!--alert (document.cookie);-->

<!--function setCookie(key, value, expiredays) {-->

<!--    let todayDate = new Date();-->
<!--    todayDate.setDate(todayDate.getDate() + expiredays); // 현재 시각 + 일 단위로 쿠키 만료 날짜 변경-->
<!--    //todayDate.setTime(todayDate.getTime() + (expiredays * 24 * 60 * 60 * 1000)); // 밀리세컨드 단위로 쿠키 만료 날짜 변경-->
<!--    document.cookie = key + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";-->
<!--}-->
<!--    </script>-->

<!--    "btn btn-primary block full-width m-b"-->

</main>
</body>
<th:block th:replace="fragment/common :: footer"></th:block>
</html>