<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/common :: html-head"></th:block>
<body>
<th:block th:replace="fragment/common :: header"></th:block>
<main>
    <section>
        <form class="p-p" role="form" th:action="@{/user/password-modify}" enctype="application/x-www-form-urlencoded"
              action="#" id="loginForm" method="post">
            <header>
                <h2>비밀번호 변경</h2>

            <label for="OrgPassword">기존 비밀번호 : </label>
            <div class="form-group">
                <input type="password" name="OrgPassword" id="OrgPassword"
                       class="form-control" placeholder="기존 비밀번호" required="required"/>
            </div>

            <label for="NewPassword">새 비밀번호 : </label>
            <div class="form-group">
                <input type="password" name="NewPassword" id="NewPassword"
                       class="form-control" placeholder="새 비밀번호" required="required"/>
            </div>

<!--            <label for="NewPasswordCheck">새 비밀번호 확인: </label>-->
<!--            <div class="form-group">-->
<!--                <input type="password" name="NewPasswordCheck" id="NewPasswordCheck"-->
<!--                       class="form-control" placeholder="새 비밀번호 확인" required="required"/>-->
<!--            </div>-->

            <button type="submit" class="p-p">변경하기</button>
            <button type="button" class="btn btn-primary" onclick="history.go(-1)">redirect</button>
        </form>
    </section>

<!--    "btn btn-primary block full-width m-b"-->
</main>
</body>
<th:block th:replace="fragment/common :: footer"></th:block>
</html>